name: worktt

on:
  schedule:
    - cron: '0 */6 * * *' # Har 6 ghantay baad restart
  workflow_dispatch: # Manual Button

jobs:
  traffic-farm:
    name: Runner-${{ matrix.id }}
    runs-on: ubuntu-latest
    timeout-minutes: 360 # 6 Hours Max
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        # 20 Parallel Computers
        id: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    # --- SIRF TRAFFMONETIZER ---
    - name: Start Traffmonetizer
      run: |
        echo "Starting Worker ID: ${{ matrix.id }}"
        docker pull traffmonetizer/cli_v2:latest
        docker run -d --restart=always --name tm traffmonetizer/cli_v2 start accept --token ${{ secrets.TM_TOKEN }}

    # --- KEEP ALIVE (BOHOT ZAROORI HAI) ---
    - name: Keep Alive for 6 Hours
      run: |
        echo "Traffic Farm is running..."
        # 21500 seconds = 5 Hours 58 Mins
        sleep 21500
